In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('breast-cancer.data')
df.head()

,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no.1
0,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
2,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
3,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
4,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no

In [3]:
df.isna().sum()

no-recurrence-events    0
30-39                   0
premeno                 0
30-34                   0
0-2                     0
no                      0
3                       0
left                    0
left_low                0
no.1                    0
dtype: int64

In [10]:
cat = []

cat = df.select_dtypes(exclude=['number']).columns.to_list()
cat

['no-recurrence-events',
 '30-39',
 'premeno',
 '30-34',
 '0-2',
 'no',
 'left',
 'left_low',
 'no.1']

In [11]:
from sklearn.preprocessing import LabelEncoder

for i in cat:
    lbl = LabelEncoder()
    df[i] = lbl.fit_transform(df[i])

In [13]:
x = df.iloc[:,0:9]
y = df.iloc[:,9]

x.head()

   no-recurrence-events  30-39  premeno  30-34  0-2  no  3  left  left_low
0                     0      2        2      3    0   1  2     1         5
1                     0      2        2      3    0   1  2     0         2
2                     0      4        0      2    0   1  2     1         3
3                     0      2        2      0    0   1  2     1         4
4                     0      4        0      2    0   1  2     0         2

In [15]:
from sklearn.tree import DecisionTreeClassifier

dec = DecisionTreeClassifier()

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

dec.fit(x_train,y_train)
dec.score(x_test,y_test)

0.7368421052631579

In [17]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)

x_new = pca.fit_transform(x)
x_new = pd.DataFrame(x_new)
x_new.head()

          0         1         2
0 -1.249132 -0.557200  1.623846
1 -1.521645 -0.380740  0.970665
2 -2.327941  0.004314 -1.519065
3 -3.927888  0.971119  1.503431
4 -2.425484  0.064808 -1.763376

In [18]:
dec_new = DecisionTreeClassifier()


x_train,x_test,y_train,y_test = train_test_split(x_new,y,test_size=0.2,random_state=42)

dec_new.fit(x_train,y_train)
dec_new.score(x_test,y_test)

0.8070175438596491